<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>🌐 Percollate</title>

	<style type='text/css'>
		{{style }}
	</style>
</head>
<body>

	{% if blueprint.cover.generate %}
		{% include blueprint.cover.template %}
	{% endif %}

	{% if blueprint.toc.generate %}
		{% include blueprint.toc.template %}
	{% endif %}

	{% if blueprint.document.useGroups %}
		{% for group in blueprint.document.groups %}
			{% include "./templates/default_group.html" %}
		{% endfor %}
	{% else %}
		{% for item in items %}
			{% include "./templates/default_item.html" %}
		{% endfor %}
	{% endif %}

	<!-- Template to use for page footer -->
	<template class='footer-template'>
		<div class='text center'>
			<span class='pageNumber'></span>
		</div>
	</template>
</body>
</html>