nav.toc {
	display: block;
	position: relative;
	min-height: 100%;
	page-break-inside: auto;
	page-break-after: always;
}

.toc ol {
	padding-inline-start: 1.5rem;
}

.toc a[href]:after {
	content: none !important;
}

.toc ol.toc-groups {
	list-style-type: none;
}
.toc ol.toc-items {
	list-style-type: circle;
}
